.navbar{
    position: fixed;
    width: 100%;  
}

a{
    
}

h1 {
    color: rgb(1, 0, 2);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}