.navbar{
    position: static;
    width: 100%;
    background-color: black;
}

.nav-link{
    color: rgb(255, 195, 255);
}

.nav-link:hover{
    color: rgb(181, 169, 255);
}

.container-fluid{
    background-color: black;
}

h1 {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}