
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
 
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}
p{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}


  
  
  