.navbar{
  position: static;
  width: 100%;
  background-color: black !important;
}

.nav-link{
  color: rgb(166, 100, 253) !important;
  font-family: monospace !important;
  font-size: 16px !important;
}

.nav-link:hover{
  color: rgb(181, 169, 255) !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}
 
footer{
  background-color: rgb(166, 100, 253);
    color: rgb(1, 0, 7);
    height: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 13px;
}


  
  
  
  